# Ignore the python cache files
__pycache__

# Igonore the PyPi packages list as it keeps changing
pypipackages.txt

# Ignore any backup folders
backup

# Ignore PyCharm folders/files
.idea
.swp

# Ignore screenshots
screenshots